@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.fira-sanc-font{
    font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}
/* FUUl background style */
.Full-backgraound-colour{
    background-color: #F1F1F3;
    margin: 1px 1px;
}
/* nav bar style */
nav{
    margin: 0 22px;
    }
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-btn{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #006A50;
    padding: 10px 20px;
    list-style: none;
    border-radius: 8px;
    transition: 0.7s;
}
.nav-btn:hover{
    background-color:#5682a5;
    color: azure;
}
/* bannar style */
.bannar{
    margin: 0 50px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 40px;

}
.bannar-contant{
   
}
.bannar-sub-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 300;
}
.bannar-title{
    color:#0E0E0E;
    font-size:56px;
    font-weight: bold;
}
.bannar-btn{
    background-color: #006A50 ;
    font-weight: 500;
    color: #ffffff;
    padding: 18px 35px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    list-style: none;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.7s;
}
.bannar-btn:hover{
    background-color:#5682a5;
    color: azure;
}
/* pillars style */
.pillars{
    margin: 70px 50px;
}
.pillars-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.pillar-containars{
    display: flex;
    justify-content: space-around;
}
.pillar-contant{
    padding: 20px;
    border-radius: 16px;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #D5D6D8;
}
.pillar-contant-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.pillar-discriptio{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.future-section{
    margin: 0 50px;

}
.future-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.future-discription{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.future-containar{
    display: flex;
    justify-content: space-around;
}
.future-contant{
    padding: 20px;
    border-radius: 16px;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #D5D6D8;
}
.future-sub-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.future-sub-discription{
    font-size: 16px;
    font-weight: 400;
    color:rgba(14, 14, 14, 0.7);
    margin-bottom: 40px;
}
.future-btn{
    background-color: #006A50 ;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
}
     
.future-1{
    background-color: #D5E1F5;
}
.future-2{
    background-color: #C6E4D6;
}
.future-3{
    background-color: #F7EBCF;
    
}
.future-btn-1{
    background-color: #5490F5;
    color: #ffffff;
    transition: 0.7s;
}
.future-btn-1:hover{
    background-color:#0be44c;
    color: azure;
}
.future-btn-2{
    background-color:#09A15C;
    color: #ffffff;
    transition: 0.7s;
}
.future-btn-2:hover{
    background-color:#0be44c;
    color: azure;
}
.future-btn-3{
    background-color:#FFC239 ;
    color: #ffffff;
    transition: 0.7s;
}
.future-btn-3:hover{
    background-color:#0be44c;
    color: azure;
}
/* speech style */
.speech{
    margin: 30px 50px;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 16px;
    background-image: url(./assets/quote-bg.png);
    background-position: 2% 10%;
    background-repeat: no-repeat;
    border: 1px solid #D5D6D8;
}
.speech-discripton{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}
.speech-title{
    margin-bottom: -25px;
    font-size: 20px;
    font-weight: 700;
    color:#rgba(14, 14, 14, 0.8);
    padding-buttom: ;
}
.speech-sub-title{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}
/* opinion styls */
.opinion{
    margin: 20px 50px;
}
.opinion-title{
    font-size:40px;
    font-weight:bold;
    color: rgba(14, 14, 14, 1);
}
.opinion-section{
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 16px;
}
.opinion-tbl{
    width: 100%;
    border-collapse: collapse;
}
.tbl-th, .tbl-td{
    text-align: left;
    padding: 12px;
    border: 1px solid #D5D6D8;
}
.tbl-th{
    background-color: #C6E4D6;
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 700;
}
.tbl-td section{
    padding: 8px;
    border: 2px solid #0E0E0E;
    border-radius: 4px;
    background-color:#C6E4D6;
}
.tbl-td{
    font-size:16px;
    font-weight: 700;
    color: #0E0E0E;
}
.tbl-td section:hover{
    color: #ffffff;
    background-color: #FFC239;
    
}
/* news style */
.recent-news{
    margin: 20px 50px;
}
.recent-news-title{
    font-size: 40px;
    font-weight: bold;
    columns: #0E0E0E;
}
.recent-news-discription{
    font-size: 16px;
    font-weight: 400;
    color:rgba(14, 14, 14, 0.7) ;
}
.bangladesh-news{
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}
.satelight-img{
    border-radius: 24px;
    margin: 10px;
}
.bangladesh-news-colum{
    margin: 0 10px;
}
.bd-news-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.jazzera-img{
    margin-top: -17px;
}
.datetime-content{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.news-discription{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.news-btn{
    background-color: #006A50 ;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 15px;
    transition: 0.6s;
}
.news-btn:hover{
    background-color: #FFC239;
    color: #0E0E0E;
}
/* today-section-style */
.today-section{
    margin: 60px 50px;
    text-align: center;
    padding: 10px;
}
.today-title{
    font-size:40px;
    font-weight: bold;
    counter-reset:#0E0E0E ;
}
.today-discription{
    font-size: 16px;
    font-weight: 400;
    color:rgba(14, 14, 14, 0.7);
}
.taka{
    display: flex;
    justify-content: space-around;
     
}
.money{
    font-size: 40px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
    padding: 20px;
    border-radius: 16px;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #D5D6D8;
}
.money-1{
    background-color: #C6E4D6;
}
.money-2{
    background-color: #09A15C;
}
.money-3{
    background-color:#F7EBCF;
}
.money-4{
    background-color: #5490F5;
}
.ammount{
    width: 92%;
    background-color: #ffffff;
    text-align: center;
    margin-left: 43px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    margin-bottom: 30px;
}
.money-btn{
    background-color: #006A50 ;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.6s;
}
/* footer style */
footer{
    margin: 0 50px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.footer-content{
    text-align: center;
    padding: 30px;
}
.footer-title{
    font-size:40px;
    font-weight: bold;
    color: #0E0E0E;
}
.footer-discription{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    max-width: 650px;
    margin-left: 210px;
    margin-top: -30px;
}
.email-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-adress{
    padding: 10px;
    width: 50%;
    font-size: 16px;
    border: 1px solid #C6E4D6;
    border-radius: 0 -20px -20px 0;
}
.sub-btn{
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color:#006A50;
    border-radius: 0 20px 20px 0 ;
    transition: 0.7s;
   border: none;
}
.footer-last-consef{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
/* outside styles */
.outside-icon{
    width: 100%;
    text-align: center;
}
.outside-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.outside-icon img{
    padding: 10px;
}